<div class="container-fluid" ng-init="clientsPage()" ng-controller="ClientsController">
  <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="myGrid">

  </div>
  <p>{{caca}}</p>
  <tabset justified="true">
    <tab heading="Dades Generals"><br>

        <div class="container-fluid">
          <form class="" role="form">
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="nom">Nom i cognoms</label>
                <input type="text" class="form-control" id="nom" ng-model='client.nom'>
              </div>

              <div class="form-group col-xs-2">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" ng-model='client.dni'>
              </div>

              <div class="form-group col-xs-4">
                <label for="nacionalitat">Nacionalitat</label>
                <input type="text" class="form-control" id="nacionalitat">
              </div>

              <div class="form-group col-xs-4">
                <label for="adreca">Adreça</label>
                <input type="text" class="form-control" id="adreca">
              </div>

              <div class="form-group col-xs-2">
                <label for="poblacio">Població</label>
                <input type="text" class="form-control" id="poblacio">
              </div>

              <div class="form-group col-xs-2">
                <label for="codiPostal">Codi Postal</label>
                <input type="text" class="form-control" id="codiPostal">
              </div>

              <div class="form-group col-xs-2">
                <label for="provincia">Provincia</label>
                <input type="text" class="form-control" id="provincia">
              </div>

              <div class="form-group col-xs-2">
                <label for="pais">Pais</label>
                <input type="text" class="form-control" id="pais">
              </div>

              <div class="form-group col-xs-2">
                <label for="telefon">Telèfon</label>
                <input type="tel" class="form-control" id="telefon">
              </div>

              <div class="form-group col-xs-2">
                <label for="movil1">Mòvil 1</label>
                <input type="tel" class="form-control" id="movil1">
              </div>

              <div class="form-group col-xs-2">
                <label for="movil2">Mòvil 2</label>
                <input type="tel" class="form-control" id="movil2">
              </div>

              <div class="form-group col-xs-3">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email">
              </div>

              <div class="form-group col-xs-3">
                <label for="url">URL</label>
                <input type="url" class="form-control" id="url">
              </div>

              <div class="form-group col-xs-2">
                <label for="tipusClient">Tipus de client</label>
                <input type="text" class="form-control" id="tipusClient" ng-model='client.tipusClient'>
              </div>

              <div class="form-group col-xs-2">
                <label for="naturalesaJuridica">Naturalesa Jurídica</label>
                <select type="text" class="form-control" id="naturalesaJuridica" ng-model='client.naturalesaJuridica'>
                  <option>Empresa</option>
                  <option>Persona Juridica</option>
                </select>
              </div>

              <div class="form-group col-xs-2">
                <label for="dataAlta">Data alta </label>
                <input type="date" class="form-control" id="dataAlta">
              </div>

              <div class="form-group col-xs-2">
                <label for="dataBaixa">Data de baixa</label>
                <input type="date" class="form-control" id="dataBaixa">
              </div>
            </div>
          </form>
        </div>
      <div class="container-fluid">
        <button type="button" class="btn btn-primary btn-lg" ng-click="crear(client)">Nou</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="llegir(dniClientSeleccionat)">Llegir</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="actualitzar(client)">Actualitzar</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="esborrar(dniClientSeleccionat)">Esborrar</button>
      </div>
    </tab>
    <tab heading="Cites"> <br>
    </tab>
    <tab heading="Expedients"><br>
    </tab>
    <tab heading="Factures"><br>
    </tab>

  </tabset>

</div>
